<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Item</h1>
</div>

<!-- Add Item form -->
<form action="/AddItem" method="POST">
  <div class="form-group">
    <label for="item">Item name</label>
    <input type="text" class="form-control" name="item">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" name="price">
  </div>
  <button type="submit" class="btn btn-primary">Add Item</button>
</form>

<!-- TABLE -->
<div class="container pt-4 m-0">
  <table class="table">
    <thead>
      <tr class="text-600 text-white bgc-default-tp1 py-25">
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
  <%  items.forEach(function(item){ %>
    <tbody>
      <tr class="mb-2 mb-sm-0 py-25 bgc-default-l4">
          <td><%= item.item %></td>
          <td><%= item.price %></td>
          <td><%= item.stock %></td>
      </tr>
    </tbody>    
  <%  }) %>
  </table>
</div>

<%- include("partials/footer") -%>