<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Purchase Item</h1>
</div>

<!-- PURCHASE FORM -->
<form action="/PurchaseItems" method="POST">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="invoice">Invoice</label>
      <input type="invoice" class="form-control" name="invoice" value="<%= date %>" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="itemName">Item Name</label>
      <select id="ddlitem" name="itemName" class="form-control">
        <option selected>Choose...</option>
        <% items.forEach(function(item) {%>
        <option value="<%= [item.price , item.quantity, item.stock, item.item] %>"><%= item.item %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="bill">Bill Date</label>
      <input type="date" class="form-control" name="bill">
    </div>
    <div class="form-group col-md-3">
      <label for="stock">Total Stock</label>
      <input type="text" id="stock" class="input form-control" name="stock" value= "" readonly>
      <input type="text" id="currentStock" class="input form-control" name="currentStock" value= "" hidden>
    </div>
    <div class="form-group col-md-4">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" class="input form-control" name="quantity" value="">
    </div>
    <div class="form-group col-md-4">
      <label for="price">Price</label>
      <input type="text" id="price" class="input form-control" name="price" value="" readonly>
    </div>
    <div class="form-group col-md-4">
      <label for="total">Total</label>
      <input type="text" id="total" class="input form-control" name="total">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Item</button>
</form>

<!-- STOCK TABLE -->
<div class="container pt-4 m-0">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
<%  items.forEach(function(item){ %>
  <tbody>
    <tr>
        <td><%= item.item %></td>
        <td><%= item.quantity %></td>
        <td>@mdo</td>
    </tr>
  </tbody>    
<%  }) %>
</table>
</div>
<%- include("partials/footer") -%>