<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customer Order</h1>
</div>

<!-- CUSTOMER ORDER FORM -->
<form action="/SellItem" id="customerOrder" method="POST">
  <div class="form-row">
    <label for="invoice" value="<%= date %>" hidden></label>
    <div class="form-group col-md-3">
      <label for="customerName">Customer Name</label>
      <input type="text" class="form-control" name="customerName" required>
    </div>
    <div class="form-group col-md-3">
      <label for="itemName">Item Name</label>
      <select id="ddlitem" name="itemName" class="form-control">
        <option selected>Choose...</option>
        <% items.forEach(function(item) {%>
        <option value="<%= [item.item , item.price, item.stock] %>"><%= item.item %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="bill">Bill Date</label>
      <input type="date" class="form-control" name="bill">
    </div>
    <div class="form-group col-md-3">
      <label for="stock">Total Stock</label>
      <input type="text" id="stock" class="sellInput form-control" name="stock" value= "" readonly>
      <input type="text" id="currentStock" class="sellInput form-control" name="currentStock" value= "" hidden>
    </div>
    <div class="form-group col-md-4">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" class="sellInput form-control" name="quantity" value="" autocomplete="off">
    </div>
    <div class="form-group col-md-4">
      <label for="price">Price</label>
      <input type="text" id="price" class="sellInput form-control" name="price" value="" readonly>
      <label for="gst" name="gst" hidden></label>
    </div>
    <div class="form-group col-md-4">
      <label for="amount">Total</label>
      <input type="text" id="amount" class="sellInput form-control" name="amount" value="0" readonly>
    </div>
  </div>
  <button type="submit" id="addItemBtn" value="sell" class="btn btn-primary">Sell Item</button>
</form>

 <!-- Ordaer TABLE -->
<div class="container pt-4 m-0">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
<%  orders.forEach(function(order){ %>
  <tbody>
    <tr>
        <td><%= order.item %></td>
        <td><%= order.quantity %></td>
        <td><%= order.amount %></td>
    </tr>
  </tbody>    
<%  }) %>
</table>
</div>
<div>
    <a href="../invoice" class="btn btn-primary" role="button">Generate Invoice</a>
</div>

<%- include("partials/footer") -%>